body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
    min-height: 400px;
}
#signbot{
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-image: url('../image/wallpapersden.com_k-new-tales-from-the-borderlands-gaming-2022_1366x768.jpg');;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 380px;
}
.indxngon{
    width:100%;
    height:450px;
    overflow-y: auto;
    display: block;
    color:white;
    background-color: #fd5656;
    background-image: url('../image/wallpapersden.com_k-new-tales-from-the-borderlands-gaming-2022_1366x768.jpg');;
    background-repeat: no-repeat;
    background-size: 130%;
}
#fevidlist{
    padding-left:10px;
    padding-right:10px;
    width:100%;
}

#rrlist{
    padding-left:10px;
    padding-right:10px;
    width:100%;
}
.fvlist:hover,.rrclist:hover{
background-color: #e42f2f;
cursor: pointer;
}

.fvlist{
    padding-top:20px;
    padding-bottom: 20px;
    text-align: left;
    padding-left:6px;
    border-bottom: 1px solid white;
    background-color: #4f0f0faf;
}
.rrclist{
    text-align: left;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:6px;
    border-bottom: 1px solid white;
    background-color: #4f0f0faf;
}
.fvlist input,.rrclist input{
    width:90%;
    border:none;
    background-color: transparent;
    cursor: pointer;
    color:white;
}
.fvlist input:focus,.rrclist input:focus{
    outline:none;
}
#youvidlist{
    background-color: #ff484871;
}
#vimvidlist{
    background-color: #300eef93;
}
#falseback{
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #f7a09a7c;
    display: none;
}

#btncontainer{
    padding-left:40px;
    padding-right:40px;
    display: none;
}

#frameholder{
    bottom:0px;
    right:10px;
    position: fixed;
    cursor: move;
    width:380px;
    height:230px;
    z-index:10;
    display: none;
    background-color: #0fd416;
    overflow: hidden;
}
#frameholder span{
    margin-right:5px;
}
#frameholder iframe{
    width:100%;
    height:200px;
    background-color: #161616f0;
}

#bizbotfrm{
    max-width: 600px;
    padding:10px;
    padding-top:400px;
}

#btncontainer button{
    margin-bottom:4px;
}

#repass{
    top:0px;
    position: fixed;
    display: none;
    width:100%;
    height:100%;
    background-color: #131313af;
}

#repass-tw{
    padding:10px;
    max-width:600px;
    margin-top:5%;
    background-color: #facb54;
}


#clsrest{
    /* display: inline-block; */
    float:right;
}

#messagert{
margin-top:20px;
width: 100%;
max-width: 600px;
padding:10px;
background-color: #da0404;
color:white;
font-size:16px;
text-align: left;
display: none;
overflow-x: auto;
border:0px;
border: 2px solid #facb54;
}

#copmail{
    max-width: 600px;
    margin-top:20px;
background-color: whitesmoke;
text-align: left;
display: none;
}
#copmbody{
    padding:10px;
}
#copmail button{
    width:100%;
margin-top:20px;
margin-right: 0px;
   float: right;
   background-color: #facb54;
   padding:10px;
}

#frmcontnr{
width:100%;
height:100%;
padding-top:10px;
}

#frmcontnr iframe{
height:550px;
}
#frminptstr{
    width:332.5px;
    border: 0px;
    font-size: 12px;
    padding:4px;
    background-color: #ffffffd0;
    color:#000000;
}
#frameholder input{
   outline: none;
}
#srchfrm{
padding:10px;
background-color: #161616;
}
#srchfrm input{
    margin:5px;

}

#myModal img,#myModal iframe{
    width:100%;
}
#myCustomModal{
    width:100%;
    height:100%;
    background-color: #2e2e2ecc;
}
#myCustomModal .modal-content{
    width:100%;
    height:80%;
    max-width:600px;
    margin:0 auto;
    border-radius: 0px;
    border:0px;
    padding:10px;
    margin-top:5%;
}
#myCustomModal .closefdlst{
    top:0px;
    right:0px;
    position: absolute;
    cursor:pointer;
    float:right;
    padding:5px 10px;
    font-size: 20px;
    background-color: #fd3b3b;
}

#videoContainer{
    width:100%;
    height:100%;
    margin-top:10px;
    padding:10px;
    background-image: url('/image/vdfrmicon.png');
    background-repeat: no-repeat;
    background-size: 50% ;
    background-color: #ffadad;
    background-position: center;
}
#videoUrl{
    margin-right:5px;
    width:60%;
}
#functnlt{
    margin-top:20px;
    text-align: left;
    padding:10px;
    background-color: #161616;
}
#functnlt button{
    margin:5px;
}

 #ifrmembd {
    top:0px;
    left:0px;
    width:100%;
    margin:0 auto;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: #161616a1;
    z-index: 1000;

  }
#hidefrmvw{
 border: 0px;
 padding:5px;
    width:100%;
    margin:0 auto;
    max-width: 800px;

}
  #urlForm{
width:100%;
padding:10px;
text-align: left;
  }

  #urlForm button{
    border:0px;
    background-color: #2e2e2e;
    color:white;
  }

  #ifrmembd iframe{
    width:100%;
    max-width: 800px;
    height:450px;
    background-color: #161616;
    border:0px;
  }
#addfdlst{
    width:100%;
    border: 0px;
    background-color: #0bb019;
    color:white;
    padding:10px; 
}
#addytvd,#addvmvd{
    width:49%;
    border: 0px;
    background-color: #0bb019;
    color:white;
    padding:10px; 
    margin:0px 2px;
}